@import url(http://fonts.googleapis.com/css?family=Chango);

body {
  padding-top:50px;
}

h1 {
  font-family:'Chango';
  font-size:50px;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@import url(http://fonts.googleapis.com/css?family=Chango);

body {
  padding-top:50px;
  background:url(https://unsplash.imgix.net/photo-1414542563971-94513793d046?q=75&fm=jpg&s=8fbfdbbec683a6b4634e558f7db67ee7);

  /* make our image 100% width */
  background-size:cover; 
}

h1 {
  font-family:'Chango';
  font-size:50px;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* set the background image */
  background:url(https://unsplash.imgix.net/photo-1414542563971-94513793d046?q=75&fm=jpg&s=8fbfdbbec683a6b4634e558f7db67ee7);
  background-position:bottom;
  background-size:cover;

  /* set the transition speed */
  transition:2s ease all;
}

/* handle what happens on hover */
h1:hover {
  background-position:top;
}